/*
 * CSS Styles for Warrior's  Guidebook Project by Team Yo
 */

 /* =========================================================
 * Baseline Styles
 * ========================================================= */

 /*changed the background color from white to #eeeeee*/

 body {
 	background-color: #eeeeee;
 	font-family: 'Open Sans', sans-serif;
 }

 /*Type Styles*/

 h1, h2, h3, h4, h5, h6 {
 	font-family: 'Marcellus', serif;
 	font-weight: 550;
 }

/* =========================================================
 * Nav Bar Styles
 * ========================================================= */

 .navbar-custom {
 	background-color:#cc3333;
 	color:#ffffff;
 	border-radius:0;
 }

 .navbar-custom .navbar-nav > li > a {
 	color:#fff;
 }
 .navbar-custom .navbar-nav > .active > a, 
 .navbar-nav > .active > a:hover, 
 .navbar-nav > .active > a:focus {
 	color: #ffffff;
 	background-color:transparent;
 }

 .navbar-custom .navbar-brand {
 	color:#ffffff;
 }

 .fa-bars {
 	color: white;
 	background-color: #cc3333;
 }

 /*Set the background to transparent*/
 .navbar-toggle {
 	/* 	border-color:white; */
 	background-color: transparent;
 	padding-top:12px;
 }

 .navbar-default .navbar-nav > li > a:hover, 
 .navbar-default .navbar-nav > li > a:focus {
 	background-color: #993333;
 }

 .navbarItem {
 	font-family: 'Marcellus', serif;
 }

 .navbarItem a:hover {
 	background-color: #993333 !important;
 }

 .navbar-nav li a.currentPage{
	background-color: #993333;
}

.selectBar{
	width: 200px;
	margin: auto;
	padding-left: 20px;
}

.button-custom {
	border: none;
	background: none;
	
}

.button-custom.active {
	display: none;
}

/* =========================================================
 * Body Styles
 * ========================================================= */

 /*Added some padding on the top*/
 .brandFont {
 	font-family: 'Marcellus', serif;
 	font-size: 20px;
 	padding-top:20px;
 }

 #brandLogo {
 	display:block;
 	margin:auto;
 	margin-top: 50px;
 	margin-bottom:-5px;
 }

 #bannerText {
 	margin:auto;
 	font-family: 'Marcellus';
 	color: white;
 	padding-bottom: 30px;
 }


/* =========================================================
 * Card Styles
 * ========================================================= */

 /*Changed font to Marcellus, Added bottom margin*/
 .jumbotron-custom {
 	background-color: #eeeeee;
 	color: #555555;
 	font-family: 'Marcellus', serif;
 	margin-top: -50px;
 	margin-bottom: -30px;
 }

 /*Changed font to open sans*/
 .jumbotron-custom p {
 	color: #333333;
 	font-family: 'Open sans';
 	font-size:15px;
 }
 .selectBar{
 	border-radius: 0px;
 }


 .panelCustom {
 	/*max-height: 400px;*/
 	border-radius: 0px;
 	margin: 0px;
 	margin-top: 10px;
 	margin-bottom: 40px;
 	box-shadow: 5px 5px 2px #e0e0e0;
 	background-color: #fbfbfb;
 	border-style: none;
 }

 .panel-body {
 	margin-bottom: -25px;
 }

 .categoryIcon {
 	display:block;
 	margin:auto;
 }



/* =========================================================
 * Fancy Video Styles
 * ========================================================= */

 .video-wrapper {
 	display: none;
 }

 .video-wrapper.active {
 	display: inline;
 }

 .button-custom {
 	border: none;
 	background: none;

 }

 .button-custom.active {
 	display: none;
 }

 .form-control {
 	display: none;

 }

 .form-control.active {
 	display: inline;
 }

 .selectBar{
 	width: 200px;
 	margin: auto;
 }

 .searchBar{
 	display:none;
 }

/* =========================================================
 * Footer
 * ========================================================= */


 .Footer p{ 
 	padding-top: 10px;
 	font-size: 11px;
 	color:#AAAAAA;
 }